spring:
  application:
    name: rzd-monitoring
  aop:
    proxy-target-class: true
  config:
    import: optional:file:.env[.properties]
  webflux:
    base-path: /api
  datasource:
    url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5402}/${DB_NAME:rzd_db}?currentSchema=rzd_monitoring
    username: ${DB_USERNAME:osandman}
    password: ${DB_PASSWORD:password}
    driver-class-name: org.postgresql.Driver
  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        show_sql: true
        format_sql: false
    flyway:
      enabled: true
      locations: classpath:db/migration
      default-schema: rzd_monitoring
      schemas: rzd_monitoring
  ai:
    retry:
      max-attempts: 3
    deepseek:
      base-url: https://api.deepseek.com
      api-key: ${DEEPSEEK_API_KEY}
      chat:
        options:
          model: deepseek-chat
        enabled: true
#    gigachat:
#      chat:
#        options:
#          model: GigaChat-Pro
#      auth:
#        bearer:
#          client-id: ${GIGACHAT_API_CLIENT_ID}
#          client-secret: ${GIGACHAT_API_CLIENT_SECRET}
#        scope: ${GIGACHAT_API_SCOPE}
#        unsafe-ssl: true

server:
  port: 8088
#  servlet:
#    context-path: /api

bot:
  token: ${BOT_TOKEN}
  chat-id: ${CHAT_ID}
  username: ${USERNAME}

rzd:
  base-url: https://pass.rzd.ru
  scheduler:
    state: ACTIVE
    interval: 10 # интервал запуска в минутах

logging:
  charset:
    console: UTF-8

